<%= form_with model: post, local: true do |f| %>
  <div class="form-group">
    <label class="required">画像</label>
    <div class="d-flex align-items-start">
      <%= f.file_field :image, accept: "image/*", class: "form-control-file", id: "image_input" %>
      <div class="ml-4">
        <% if post.image.attached? %>
          <img id="image_preview" src="<%= url_for(post.image) %>" alt="現在の画像" class="image-preview">
        <% else %>
          <img id="image_preview" src="" alt="プレビュー画像" class="image-preview d-none">
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="required">タイトル（30文字以内）</label>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <label>説明（200文字以内）</label>
    <%= f.text_area :body, class: "form-control", rows: 5 %>
  </div>

  <hr>

  <div class="form-group">
    <label>関連するぬいぐるみを登録する</label>
  </div>

  <div class="form-group">
    <label>ユーザー</label>
    <select id="user_select" class="form-control">
      <option value="">選択してください</option>
      <% users.each do |user| %>
        <option value="<%= user.id %>"><%= user.nickname %>(<%= user.username %>)</option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label>ぬいぐるみ</label>
    <%= f.select :toy_ids, 
      options_from_collection_for_select(selected_toys, :id, :display_name_with_owner, post.toy_ids), 
      {}, 
      { multiple: true, id: 'toy_select', class: "form-control" } %>
  </div>

  <div class="form-group">
    <div id="selected_toys_tags" class="mt-2 d-flex flex-wrap toy-tag-container"></div>
  </div>

  <div class="form-group text-center">
    <% if post.id.nil? %>
      <%= f.submit '投稿', class: "btn btn-primary" %>
    <% else %>
      <%= f.submit '更新', class: "btn btn-success" %>
    <% end %>
  </div>

  <div id="hidden_selected_toys"></div>
  <div id="post_form_data" data-selected-toys='<%= raw(@selected_toys_json.to_json) %>'></div>
<% end %>