<% if posts.present? %>
  <% posts.each do |post| %>
    <div>
      <p><%= post.user.nickname %></p>
      <p><%= post.user.username %></p>
      <p><%= image_tag post.get_image(200,200) %></p>
      <%= post.title %>
      <%= simple_format(post.body) %>
      <%= time_ago_in_words(post.created_at) %>前
    </div>
  <% end %>
<% else %>
  <p>投稿はまだありません。</p>
<% end %>