<div class="container mt-5">
  <div class="text-center mb-4">
    <% if @post.get_image_original(400, 400).present? %>
      <%= image_tag @post.get_image_original(400, 400), class: "img-fluid rounded shadow-sm border" %>
    <% else %>
      <%= image_tag "default-image.jpg", width: 400, height: 400, class: "img-fluid rounded shadow-sm border" %>
    <% end %>
  </div>

  <div class="mx-auto post-wrapper">
    <div class="d-flex align-items-center mb-3">
      <%= link_to user_path(@post.user.username), class: "d-flex align-items-center font-weight-bold text-dark text-decoration-none" do %>
        <%= image_tag @post.user.get_profile_image(50, 50), class: "rounded-circle mr-2 post-show-user-image" %>
        <%= @post.user.nickname %>
        <small class="text-muted">(<%= @post.user.username %>)</small>
      <% end %>

      <% if current_user != @post.user %>
        <span id="relationship_btn_<%= @post.user.id %>" class="ml-auto">
          <%= render 'public/relationships/btn', user: @post.user %>
        </span>
      <% end %>
    </div>

    <h5 class="font-weight-bold mb-3"><%= @post.title %></h5>

    <div class="mb-4">
      <%= body_with_hashtag_links(@post.body) %>
    </div>

    <div class="post-datetime mb-4">
      <p class="mb-1">投稿日時：<%= @post.created_at.strftime('%y/%m/%d %H:%M') %></p>
      <p class="mb-0">更新日時：<%= @post.updated_at.strftime('%y/%m/%d %H:%M') %></p>
    </div>

    <div id="favorite-btn-<%= @post.id %>" class="mb-4">
      <%= render 'public/favorites/btn', post: @post %>
    </div>
    
    <div class="d-flex flex-column">
      <% if @post.user == current_user %>
        <%= link_to "投稿を編集する", edit_post_path(@post), class: "btn btn-outline-primary mb-4 post-edit-btn", data: { turbolinks: false } %>
      <% end %>

      <%= link_to '←投稿一覧へ戻る', posts_path, class: "btn btn-outline-secondary mb-4 post-back-btn" %>
    </div>
  </div>

  <div class="mx-auto mt-5 post-wrapper">
    <%= render "public/toys/post_relation", toys: @toys %>
  </div>

  <div class="mx-auto mt-5 post-wrapper">
    <h5 class="mb-2">コメントフォーム(100文字以内)</h5>
    <%= render 'public/comments/form', post: @post, comment: @comment %>
  </div>

  <div class="mx-auto mt-5 mb-5 post-wrapper">
    <h5 class="mb-3">コメント一覧（<%= @comments.count %>件）</h5>
    <% if @comments.present? %>
      <%= render 'public/comments/post_comments', post: @post, comment: @comment, comments: @comments %>
    <% else %>
      <p class="text-muted">コメントはまだありません。</p>
    <% end %>
  </div>
</div>