<div class="container my-5">
  <div class="row mb-3">
    <div class="col-2"></div>
    <div class="col-8 text-center">
      <p><%= image_tag @post.get_image_original(400, 400), class: "img-fluid" %></p>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <%= link_to user_path(@post.user.username) do %>
        <%= image_tag @post.user.get_profile_image(25,25), class: "rounded-circle mr-2", style: "width: 25px; height: 25px; object-fit: cover;" %>
        <%= @post.user.nickname %>
        (<%= @post.user.username %>)
      <% end %>
      <br>
      <h5 class="mt-4"><%= @post.title %></h5>
      <%= simple_format(@post.body) %>
      <p>投稿日時：<%= @post.created_at.strftime('%y/%m/%d %H:%M') %></p>
      <p>更新日時：<%= @post.updated_at.strftime('%y/%m/%d %H:%M') %></p>

      <% if @post.user == current_user %>
        <%= link_to "投稿を編集する", edit_post_path(@post) %>
      <% end %>
      <br>
        <%= link_to '投稿一覧へ戻る', posts_path %>
    </div>
    <div class="col-2"></div>
  </div>
</div>


