<div>
<p><%= image_tag @post.get_image(200,200) %></p>
<%= link_to user_path(@post.user.username) do %>
  <%= image_tag @post.user.get_profile_image(25,25) %>
  <%= @post.user.nickname %>
  (<%= @post.user.username %>)
<% end %>
<h5><%= @post.title %></h5>
<%= simple_format(@post.body) %>
<p>投稿日時：<%= @post.created_at.strftime('%y/%m/%d %H:%M') %></p>
<p>更新日時：<%= @post.updated_at.strftime('%y/%m/%d %H:%M') %></p>

<% if @post.user == current_user %>
  <%= link_to "投稿を編集する", edit_post_path(@post) %>
<% end %>
<br>
<%= link_to '一覧へ戻る', :back %>
</div>