<div class="container">
  <div class="row mt-4 my-2">
    <div class="col-2"></div>
    <div class="col-4">
      <h4>ログイン</h4>
    </div>
    <div class="col-6"></div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 mt-1 mb-4 ml-4">
      <%= form_with model: @user, url: session_path(resource_name), local: true do |f| %>
        <table class="w-100 login-table">
          <tbody>
            <tr>
              <td class="login-label"><%= f.label :email %></td>
              <td class="login-input"><%= f.email_field :email, autofocus: true, class: "form-control" %></td>
            </tr>
            
            <tr>
              <td class="login-label"><%= f.label :password %></td>
              <td class="login-input"><%= f.password_field :password, class: "form-control" %></td>
            </tr>
            
            <tr>
              <td></td>
              <td><%= f.submit "ログイン", class: "btn btn-primary login-submit" %></td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-4 my-2">
      <h5 class="text-left">会員登録がお済みでない方</h5>
    </div>
    <div class="col-6"></div>
  </div>

  <div class="row mb-5">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="d-flex align-items-center">
        <%= render "public/shared/links" %>
        <span>よりユーザー登録を行ってください</span>
      </div>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-4 my-2">
      <h5 class="text-left">ゲストログインを試す</h5>
    </div>
    <div class="col-6"></div>
  </div>

  <div class="row mb-5">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="d-flex align-items-center">
        <%= link_to 'こちら', public_guest_sign_in_path, method: :post %>
        <span>よりゲストログインしてください</span>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>