<div class="container">
  <div class="row mt-4 my-2">
    <div class="col-2"></div>
    <div class="col-4">
      <h4>ユーザー情報編集</h4>
    </div>
    <div class="col-6"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <% if @user.errors.any? %>
      <ul class="text-danger">
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>

      <%= form_with model: @user, url: update_information_path do |f| %>
      <table class="w-100">
        <thead>
          <th></th>
          <th></th>
          <th></th>
        </thead>

        <tbody>
          <tr>
            <td class="pe-3 pb-3"><%= f.label :profile_image, "プロフィール画像" %></td>
            <td colspan="2">
              <%= f.file_field :profile_image, id: "profile_image_input", accept: "image/*" %><br>
              <% if @user.profile_image.attached? %>
                <img id="profile_image_preview" src="<%= url_for(@user.profile_image) %>" alt="プロフィール画像" style="max-width: 200px;" class="mt-2" />
              <% else %>
                <img id="profile_image_preview" src="#" alt="プロフィール画像" style="max-width: 200px; display: none;" class="mt-2" />
              <% end %>
            </td>
          </tr>

          <tr>
            <td class="pe-3 pb-3">名前</td>
            <td class="pe-3 pb-3"><%= f.label :last_name, "(姓)" %>
                <%= f.text_field :last_name, autofocus: true, placeholder: "令和" %></td>
            <td class="pe-3 pb-3"><%= f.label :first_name, "(名)" %>
                <%= f.text_field :first_name, autofocus: true, placeholder: "太郎" %></td>
          </tr>

          <tr>
            <td class="pe-3 pb-3"><%= f.label :email, "メールアドレス" %></td>
            <td class="pe-3 pb-3" colspan="2"><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "nuidori@sample.com" %></td>
          </tr>
      
          <tr>
            <td class="pe-3 pb-3"><%= f.label :username, "ユーザー名（半角英数字4～15文字以内）" %></td>
            <td class="pe-3 pb-3" colspan="2"><%= f.text_field :username, autofocus: true, placeholder: "半角英数字4～15文字" %></td>
          </tr>

          <tr>
            <td class="pe-3 pb-3"><%= f.label :nickname, "ニックネーム（30文字以内）" %></td>
            <td class="pe-3 pb-3" colspan="2"><%= f.text_field :nickname, autofocus: true, placeholder: "※表示名となります" %></td>
          </tr>

          <tr>
            <td class="pe-3 pb-3"><%= f.label :introduction, "自己紹介文(300字以内)" %></td>
            <td class="pe-3 pb-3" colspan="2"><%= f.text_area :introduction, autofocus: true, placeholder: "自己紹介文を書いてみましょう" %></td>
          </tr>

          <tr>
            <td class="pe-3 pb-3"></td>
            <td class="pe-3 pb-3" colspan="2"><%= f.submit "更新" %></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row mb-4">
    <div class="col-2"></div>
    <div class="col-4" >
      <%= link_to "マイページに戻る", mypage_path %>
    </div>
    <div class="col-6"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-4 my-2" >
      <h5 class="text-left">退会をご希望の方は<%= link_to "こちら", confirm_unsubscribe_path %>から</h5>
    </div>
    <div class="col-6"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const input = document.getElementById("profile_image_input");
    const preview = document.getElementById("profile_image_preview");

    input.addEventListener("change", event => {
      const file = event.target.files[0];
      if (file && file.type.startsWith("image/")) {
        const reader = new FileReader();
        reader.onload = e => {
          preview.src = e.target.result;
          preview.style.display = "block";
        };
        reader.readAsDataURL(file);
      } else {
        preview.src = "";
        preview.style.display = "none";
      }
    });
  });
</script>