<div class="container">
  <div class="row">
    <div class="col-2 my-5 ml-4">
      <% if @user==current_user %>
      <h4 class="text-center">マイページ</h4>
      <% else %>
      <h4 class="text-center">ユーザー詳細</h4>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <%= render 'introduction', user: @user %>
    </div>

    <div class="col-4">
      <div class="card" style="width: 100%;">
        <div class="card-header text-center">
          <strong><%= @user.nickname %>さんのぬいぐるみ一覧</strong>
        </div>
        <div class="card-body">
          <% if @toys.present? %>
            <%= render 'public/toys/sidebar', toys: @toys %>
          <% else %>
            <p>ぬいぐるみはまだありません。</p>
          <% end %>
          <div class="d-flex justify-content-end">
            <%= link_to "もっと見る", user_toys_path(@user.username) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-2 my-5 ml-4">
      <h4 class="text-center">投稿一覧</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <% if @posts.present? %>
      <div class="d-flex flex-wrap mx-4">
        <%= render 'public/posts/index', posts: @posts %>
      </div>
      <% else %>
        <p>投稿はまだありません。</p>
      <% end %>
      <div class="d-flex justify-content-center my-4">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
