<header class="container-fluid py-3" style="background-color: #ffc0cb;">
  <div class="container">
    <div class="row align-items-start">

      <div class="col-3 d-flex justify-content-start">
          <%= link_to image_tag("logo.jpg", size: "100x100"), root_path %>
      </div>

      <div class="col-3 d-flex justify-content-start">
        <div class="navbar-text mt-2">
          <% if user_signed_in? %>
            <span style="color: #8b4513;">ログインしています</span>
          <% elsif admin_signed_in? %>
            <span style="color: #8b4513;">管理者ログイン中</span>
          <% else %>
            <span style="color: #8b4513;">ログインしていません</span>
          <% end %>
        </div>
      </div>

      <div class="col-6 p-0 d-flex flex-column align-items-center">
        <div class="mb-2 ml-auto">
          <ul class="nav">
            <% if admin_signed_in? %>
              <li class="nav-item">
              <%= link_to 'ユーザー一覧', admin_users_path, class: 'btn btn-outline-secondary mx-1' %>
              </li>
              <li class="nav-item">
              <%= link_to '投稿一覧', admin_posts_path, class: 'btn btn-outline-secondary mx-1' %>
              </li>
              <li class="nav-item">
              <%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete, class: 'btn btn-outline-secondary mx-1' %>
              </li>
            <% elsif user_signed_in? %>
              <li class="nav-item">
              <%= link_to 'マイページ', mypage_path, class: 'btn btn-outline-secondary mx-1' %>
              </li>
              <li class="nav-item">
              <%= link_to '新規投稿', new_post_path, class: 'btn btn-outline-secondary mx-1' %>
              </li>
              <li class="nav-item">
              <%= link_to 'みんなの投稿', posts_path, class: 'btn btn-outline-secondary mx-1' %>
              </li>
              <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary mx-1' %>
              </li>
            <% else %>
              <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-outline-secondary mx-1' %>
              </li>
              <li class="nav-item">
              <%= link_to '新規ユーザー登録', new_user_registration_path, class: 'btn btn-outline-secondary mx-1' %>
              </li>
            <% end %>
            </ul>
        </div>
      </div>

      <div class="ml-auto">
      </div>
    </div>
  </div>
</header>