<header class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <% if admin_signed_in? %>
      <%= link_to image_tag("logo.png", size: "100x50"), admin_root_path, class: "navbar-brand" %>
    <% else %>
      <%= link_to image_tag("logo.png", size: "100x50"), root_path, class: "navbar-brand" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCuteMenu" aria-controls="navbarCuteMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCuteMenu">
      <ul class="navbar-nav mr-auto">
        <% if admin_signed_in? %>
          <li class="nav-item"><%= link_to 'ユーザー一覧', admin_users_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '投稿一覧', admin_posts_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link' %></li>
        <% elsif user_signed_in? %>
          <li class="nav-item"><%= link_to 'マイページ', mypage_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '投稿する', new_post_path, class: 'nav-link', data: { turbolinks: false } %></li>
          <li class="nav-item"><%= link_to 'みんなの投稿', posts_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '新規ユーザー登録', new_user_registration_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ゲストログイン', public_guest_sign_in_path, method: :post, class: 'nav-link' %></li>
        <% end %>
      </ul>

      <span class="navbar-text mr-3">
        <% if user_signed_in? %>
          <% if current_user.email == 'guest@example.com' %>
            ゲストユーザーログイン中
          <% else %>
            ユーザーログイン中
          <% end %>
        <% elsif admin_signed_in? %>
          管理者ログイン中
        <% else %>
          ログインしていません
        <% end %>
      </span>

      <%= render 'public/searches/form' %>
    </div>
  </nav>
</header>